.flag-icon {
	font-size: 2em;
}

h1 {
	color: #9DD4CB;
	margin-top: 2em;
}

h2 {
	color: #E7A72D;
	margin-top: 2em;
	margin-bottom: 0.6em;
}

#pictures {
	background-color: #EEEEEE;
}

nav {
	background-color: #9DD4CB;
}

.nav-link {
	color: white !important;
}

.custom-toggler.navbar-toggler {
    border-color: white;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}